<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>514069798802-ltq34hhf93ptuuhdiumhtudepje7bc58.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.514069798802-ltq34hhf93ptuuhdiumhtudepje7bc58</string>
	<key>API_KEY</key>
	<string>AIzaSyAEW4ovtGdj5A2iOvz19L2xLsu2dZE23GQ</string>
	<key>GCM_SENDER_ID</key>
	<string>514069798802</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.micro7.mecaWallet</string>
	<key>PROJECT_ID</key>
	<string>micro7-meca-wallet</string>
	<key>STORAGE_BUCKET</key>
	<string>micro7-meca-wallet.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:514069798802:ios:ed02800f80e2a3764a6b4b</string>
</dict>
</plist>